<body>
    <nav class="navbar navbar-default no-margin">
      
      <div class="fixed-brand fixed-top py-2 bg-white">
        <button type="button" class="navbar-toggle d-inline d-md-none collapsed border-0" data-toggle="collapse" id="menu-toggle">
          <span class="fa-solid fa-bars" aria-hidden="true"></span>
        </button>
        <a class="navbar-brand ms-0 ms-md-3" href="#"><i class=""></i> VINADONATION</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
          </li>
        </ul>
      </div>
      <!-- navbar-header-->
      
  
    </nav>
    <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
  
          <li class="active">
            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span> Dashboard</a>
            <ul class="nav-pills nav-stacked" style="list-style-type:none;">
              <li><a href="#">link1</a></li>
              <li><a href="#">link2</a></li>
            </ul>
          </li>
          <li>
            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-solid fa-calendar-days fa-stack-1x "></i></span> Chiến dịch</a>
            <ul class="nav-pills nav-stacked" style="list-style-type:none;">
              <li><a href="/admin/campaign"><span class="fa-stack fa-lg pull-left"><i class="fa fa-solid fa-list fa-stack-1x "></i></span>Danh sách</a></li>
              <li><a href="/admin/campaign-add"><span class="fa-stack fa-lg pull-left"><i class="fa fa-solid fa-plus fa-stack-1x "></i></span>Thêm</a></li>
              <li><a href="/admin/campaign-delete"><span class="fa-stack fa-lg pull-left"><i class="fa fa-solid fa-trash fa-stack-1x "></i></span>Xóa</a></li>
            </ul>
          </li>
          <li>
            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-solid fa-user fa-stack-1x "></i></span> Người dùng</a>
            <ul class="nav-pills nav-stacked" style="list-style-type:none;">
              <li><a href="/admin/user"><span class="fa-stack fa-lg pull-left"><i class="fa fa-solid fa-list fa-stack-1x "></i></span>Danh sách</a></li>
              <li><a href="/admin/user-add"><span class="fa-stack fa-lg pull-left"><i class="fa fa-solid fa-plus fa-stack-1x "></i></span>Thêm</a></li>
              <li><a href="/admin/user-delete"><span class="fa-stack fa-lg pull-left"><i class="fa fa-solid fa-trash fa-stack-1x "></i></span>Xóa</a></li>
            </ul>
          </li>
          
          
        </ul>
      </div>

      <%- include('./nav.ejs') %>

      <div id="page-content-wrapper">
        <div class="container-fluid">
          