<%- include('./includes/head.ejs') %>
</head>

<body>
    <%- include('./includes/sidebar.ejs') %>
    
    <div class="row bg-danger">
        <div class="col-lg-12">
          
        </div>
      </div>
    <%- include('./includes/end.ejs') %>
</body>